@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Caja de reseteo de estilo*/
*{
    padding: 0;
    margin: 0;
   text-decoration: none;
   list-style: none;
}

body{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: azure;
}

/*colores*/
:root{
    --color__principal: rgb(109, 104, 104);
    --color__secundario: rgb(110, 47, 47); 
    --color__terciario: rgb(69, 174, 67);
    /*colores basicos*/
    --color__blanco: rgb(255, 255, 255);
    --color__negro: rgb(0, 0, 0);
}

nav{
 background: var(--color__secundario);
 height: 100px;
 width: 100%;
 /*position: fixed;*/
z-index: 9;
}

label.logo{
     color: var(--color__blanco);
     font-size: 30px;
     line-height: 80px;
     padding: 0 14px;
     font-family: "PT Serif", serif;
     font-weight: 700;
     font-style: normal;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 7px;
    

}
nav ul li a{
   
    color: var(--color__blanco);
    font-size: 17px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover{
    background-color: var(--color__terciario);
    transition: 1s;
}

.checkbtn{
    font-size: 30px;
    color: var(--color__blanco);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

@media (max-width:952px){
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:852px){
    .checkbtn{
        display: block;
    }
    /*agregar el nav*/
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color__terciario);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 19px;
    }

      a:hover{
        background: var(--color__secundario);
      }

      #check:checked ~ ul{
        left: 0%; 
      }
}

/*carrusel bootstrap**/
.carousel-inner img{
      width: 100%;
      height: 500px;  
      object-fit: cover;
}

/*Seccion de imagen y bienvenida */

.games{
    background: linear-gradient(to bottom, rgba(134, 219, 49, 0.142), rgba(175, 0, 0, 0.104)), 
    url("../img/imagen\ principal.jpg");
    background-size: cover;
    height: 50vh;
    text-align: center;
    border: 2px solid #1C6EA4;
    border-radius: 0px 0px 70px 0px;
    
}

 h2{
    color: var(--color__blanco);
    font-size: 32px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}


h3{
    color: var(--color__negro);
    font-size: 19px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');


body{
    background-color: aliceblue;
}

:root{
    /* c es igual al color */
    /* el numero representa la jerarquia del color*/
    --color-primario:  rgb(164, 10, 203);
    --color-secundario:rgb(53, 236, 53);
    --color-terciario: rgb(161, 146, 146);
    --color_blanco: white;

}


h1{
    text-align: center;
    color: brown;
    font-size: 50px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/*contenido principal*/

.contenedor{
    justify-content: center;
    align-items:center;
    display: flex;

}

.contenido__principal{
    width: 80%;
    margin: 3% auto;
}

.contenido__principal img{
    max-width: 350px;
    border-radius: 10px;
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

.texto__caja{
    color: var(--color__negro);
    font-size: 19px;
    justify-content: center;
}

.texto__caja{
    font-size: 19px;
    color: var(--color__negro);
}

@media(max-width:720px){
    .contenido__principal img{
        max-width: 100%;
    }
}

.texto__caja h3{
    color: var(--color__negro);
    font-size: 19px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
   
}

/*tarjetas */


.contenedor__tarjetas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.tarjeta{
    width: 325px;
    background-color: var(--color__principal);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.5s ease;
}

.tarjeta:hover{
    transform: translateY(-20px);
}


.tarjeta img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.contenido__tarjeta{
    padding: 20px
}
.contenido__tarjeta h1{
    font-size: 23px;
    color: var(--color__blanco);
}
.contenido__tarjeta p{
    font-size: 15px;
    color: var(--color_blanco);
}

.boton__tarjeta{
   display: inline-block;
   background-color: var(--color__negro);
   color: var(--color-terciario);
   text-decoration: none;
   padding: 8px 20px; 
   border-radius: 10px;
}

.boton__tarjeta:hover{
   /*color de la fuente*/
    color: var(--color__negro);
    /*color del fondo*/
    background-color: aliceblue;
}
/*termina tarjetas */

/* este es el padre */
.flex__container{
    background-color: var(--color-terciario);
    border: 5px solid blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin:  5% auto;
    justify-content: center;
    padding: 10px;
    -webkit-box-shadow: 17px 3px 27px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 3px 27px 2px rgba(0,0,0,0.75);
    box-shadow: 17px 3px 27px 2px rgba(0,0,0,0.75);
}

/*ejercicio flexbox boxes*/
.box__01{
    font-size: 30px;
    background-color: var(--color-primario);
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.351), green), url("https://images.pexels.com/photos/2263822/pexels-photo-2263822.jpeg") center no-repeat;
    background-size: cover;
    width: 250px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid rgb(15, 15, 15) 5px;
    color: var(--color_blanco);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.box__01:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    border-color: var(--color-secundario); 
}
 
.box__02{
    font-size: 30px;
    background-color: var(--color-secundario);
    background:linear-gradient(to bottom, rgba(0, 0, 255, 0.351), green), url("https://images.pexels.com/photos/4219883/pexels-photo-4219883.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center no-repeat;
    background-size: cover;
    width: 250px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid black 5px;
    color: aliceblue;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    }
    .box__02:hover {
        transform: scale(1.05); 
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
        border-color: var(--color-secundario);
    }

    .box__03{
        font-size: 30px;
        background-color:var(--color-terciario);
        background:linear-gradient(to bottom, rgba(203, 203, 214, 0.351), green), url("https://images.pexels.com/photos/12672185/pexels-photo-12672185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center no-repeat;
        background-size: cover;
        width: 250px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        border: solid black 5px;
        color: var(--color__blanco);
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .box__03:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
        border-color: var(--color-secundario); 
    }

    .box__04 {
        font-size: 20px;
        background-color: var(--color-primario);
        background: linear-gradient(to bottom, rgba(242, 242, 242, 0), rgba(145, 132, 207, 0.377)), url("https://images.pexels.com/photos/1637438/pexels-photo-1637438.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center no-repeat;
        background-size: cover;
        width: 250px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        border: solid rgb(0, 0, 0) 5px;
        color: var(--color__blanco);
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        transition: all 0.3s ease; /* Transición suave para los cambios */
    }
    
    .box__04:hover {
        transform: scale(1.05); 
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
        border-color: var(--color-secundario);
    }



 /*footer*/

 .footer{
    background: var(--color-terciario);
    padding: 30px 0;
    text-align: center;
 }
 .footer a{
    font-size: 20px;
    color: var(--color_blanco);
 }
 
 .footer .contenido__footer{
    width: 100%;
    margin: 2% 0%;
    text-decoration: none;
 }

.footer .contenido__footer ul{
    width: 100%;
}

.footer .contenido__footer li{
    display: inline-block;
    margin:0 30px;
}

.footer .contenido__footer a i{
    font-size: 28px;
    margin: 0 18px;
}

@media (max-width: 720px){
    .footer{
        text-align: left;
        padding: 15px;
    }
    .footer .contenido__footer ul li{
        display: block;
        margin: 20px 30px;
        text-align:  left;
    }
}
.contenido__footer{
    color: black;
}

/*tarjeta de la pagina de videojuegos*/
.card{
    margin: 5% auto;
    max-width: 920px;
    width: 90%;

}

.card img{
    max-height: 300px;
    object-fit: cover;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
   }

/*termina pagina de videojuegos*/


/*eliminar lineas*/
a{
    text-decoration: auto!important;
}

/*mapa*/

.mapa{
    max-width:720px;
    margin: 40px auto;

}

.mapa h1{
    color: var(--color__negro);
    text-align: center;
}

iframe{
    width: 100%;
    margin: 0 auto;
    border: 5px solid #040505 !important;
}

/*termina mapa*/

/*videojuegos html.*/

.flex__container__fotos{
    /*background-color: var(--color-terciario);*/
    /*border: 5px solid blueviolet;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin:  0% auto;
    justify-content: center;
    /*padding-top: 5px;*/ 
    border-radius: 20px;
   
}

.portada__videojuegos h1{
    font-size: 45px;
    line-height: 350px;
    font-family: "Roboto Condensed", sans-serif;
}

/*ejercicio flexbox*/
.portada__videojuegos{
    font-size: 30px;
    background-color: var(--color-primario);
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.114), rgba(0, 128, 0, 0.087)), url("https://images.pexels.com/photos/2263822/pexels-photo-2263822.jpeg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    line-height: 150px;
    text-align: center;
    /*border: solid rgba(15, 15, 15, 0.635) 5px;*/
    color: var(--color_blanco);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/*centrar tarjetas*/
.container__juegos {
    display: flex;
    justify-content: center;
  }
  
/*pagina acerca del videojuego*/

.portada__videojuegos__inf{
    font-size: 30px;
    background-color: var(--color-primario);
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0.114), rgba(0, 128, 0, 0.087)), url("https://images.unsplash.com/photo-1606422699425-f7122890005f?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    line-height: 150px;
    text-align: center;
    /*border: solid rgba(15, 15, 15, 0.635) 5px;*/
    color: var(--color_blanco);
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

/*termina pagina videojuegos*/



.flex__container__fotos__inf{
    /*background-color: var(--color-terciario);*/
    /*border: 5px solid blueviolet;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin:  0% auto;
    justify-content: center;
    /*padding-top: 90px;*/
    border-radius: 20px;
    
   
}

.portada__videojuegos__inf h1{
    font-size: 50px;
    line-height: 350px;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--color__blanco);
}

    /* Estilos adicionales para la página */
    body {
        background-color: #f8f9fa; /* Color de fondo para la página */
        font-family: Arial, sans-serif; /* Fuente del texto */
    }

    .container {
        background-color: #ffffff; /* Fondo blanco del contenedor principal */
        padding: 20px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    }

    .card {
        border: none; /* Quita el borde de la tarjeta */
        box-shadow: 0 0 10px rgba(78, 76, 76, 0.1); 
    }

    .img-fluid {
        border-radius: 5px; /* Bordes redondeados para la imagen */
        box-shadow: 0 0 10px rgba(71, 57, 57, 0.1); /* Sombra suave */
        max-width: 100%; /* Asegurar que la imagen no pase contenedor */
        height: auto; /* Mantiene la proporción de aspecto */
    }

    /*termina pagina acerca de*/

    /*empieza pagina de servicios*/
    
    /* Estilos personalizados */
    .service-card {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .service-icon {
        font-size: 3rem;
        color: #007bff;
    }

    .contact-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin-right: 1150px;
        transform: translateX(580px);
    }

    @media screen and (min-width:1000px ) and (max-width:1387px) {
        .contact-form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            margin-right: 1150px;
            transform: translateX(580px);
            width: 20%;
        }
        }

        @media screen and (min-width:900px ) and (max-width:999px) {
            .contact-form {
                background-color: #ffffff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                margin-right: 1150px;
                transform: translateX(380px);
                width: 20%;
            }
    }

    @media screen and (min-width:700px ) and (max-width:899px) {
        .contact-form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            margin-right: 1150px;
            transform: translateX(300px);
            width: 20%;
        }
}

@media screen and (min-width:600px ) and (max-width:699px) {
    .contact-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin-right: 1150px;
        transform: translateX(200px);
        width: 30%;
    }
}

@media screen and (min-width:450px ) and (max-width:599px) {
    .contact-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin-right: 1150px;
        transform: translateX(100px);
        width: 30%;
    }
}


@media screen and (min-width:350px ) and (max-width:450px) {
    .contact-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin-right: 1150px;
        transform: translateX(100px);
        width: 40%;
    }
}

/* Estilo básico para los elementos con la clase hover-effect */
.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo para los elementos cuando se aplica la clase hovered */
.hovered {
    transform: scale(1.1); /* Aumenta el tamaño del elemento */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra al elemento */
}

/* Puedes añadir estilos adicionales según sea necesario */
.hover-effect img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Añade bordes redondeados a las imágenes */
}

/* Opcional: estilo para diferentes tipos de elementos */
.hover-effect p {
    color: #333;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hovered p {
    background-color: #e0e0e0; /* Cambia el fondo del párrafo cuando está en hover */
}

.hover-effect button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hovered button {
    background-color: #cc0000; /* Cambia el fondo del botón cuando está en hover */
}

